@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
}

body {

    background-color: rgb(0, 0, 33);
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

/* Navigation bar styles with gradient background */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background: linear-gradient(to bottom, rgb(18, 35, 111), rgb(0, 0, 33));
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}


nav ul li a{

    text-decoration: none;
    color: #fff;

}

nav ul li a:hover{

    color: rgb(153, 153, 226);

}
        
.left{

    font-size: 1.5rem;

}

.firstSection{

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;

}
        
.firstSection > div{

    width: 30%;

}
        
.leftSection{

    font-size: 2rem;

}

/* Button styles */
.btn {
    display: inline-block;
    padding: 8px 16px; /* Adjust the padding to your liking */
    background-color: #007bff; /* Change the background color */
    border: 2px solid #007bff;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3; /* Darker blue color on hover */
    transform: scale(1.05);
}

.rightSection img{

    width: 90%;
    margin: 50px 0;
    
}
        
.purple{

    color: rgb(226, 43, 217);
        
}

.text-gray{
    color: gray;
}
        
#element{
            
    color: rgb(226, 43, 217);

}
        
.secondSection{
    margin: 40px;
    max-width: 80vw;
    margin: auto;
    height: 80vh;
        
}

 hr{
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin-top: 250px;
    margin-bottom: 40px;
    margin-right: 40px;
    margin-left: 40px;
}
        
.secondSection h1 {

    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 1.9rem;
        
}

.secondSection .box {

    background: white;
    width: 155vh;
    height: 2px;
    margin: 40px 0;
    display: flex;

}

.secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 110px;
}

.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
}

.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
}

.vertical-desc {
    position: relative;
    color: gray;
    top: 86px;
    width: 150px;
    font-size: 10px;
}

.third-section {
    margin-top: 150px;
    color: #ffffff;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 30px 30px;
    margin-bottom: 120px;
    background-color: rgb(18, 18, 67);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-image {
    flex: 2;
    padding: 10px;
}

.contact-form {
    flex: 2;
    padding: 20px;
}

.contact-image h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    
    
    padding: 8px 16px; /* Adjust the padding to your liking */
    background-color: #007bff; /* Change the background color */
    border: 2px solid #007bff;
    width: 100%;
    height: 50px;
    margin-left: 10px;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
    transform: scale(1.05);
}
  
.footer {

    position: relative;
    width: 100%;
    background: linear-gradient(to bottom, #4085ed, rgb(0, 0, 33));
    /* background: #4085ed; */
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
.social-icon__item,
.menu__item {
    list-style: none;
  }
  
.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
.social-icon__link:hover {
    transform: translateY(-10px);
  }
  
.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
.menu__link:hover {
    opacity: 1;
  }
  
.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }
  
.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
@keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
 